// Example nextflow.config
process {
    executor = 'local'
    cpus = 2 // Default CPUs for most tasks
    memory = '8.GB' // Default memory

    withName: 'BISMARK_ALIGN' {
        cpus = params.bismark_aligner_cores + 1 // Bismark + aligner cores
        memory = '32.GB' // Bismark can be memory intensive
    }
    withName: 'BISMARK_METHYLATION_EXTRACTOR' {
        cpus = params.meth_extractor_multicore
        memory = '16.GB'
    }
    // Add other process-specific resource requests
}

conda.enabled = true
// conda.cacheDir = '/path/to/my/conda_cache' // Optional
